:root{
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --primary-white-color:#FFFFFF;
}
body{
    background-color:var(--primary-white-color) ;
    color:var( --primary-text-color) ;
    font-family: Roboto,sans-serif; 
}
h1,
h2,
h3{
    font-family: Roboto;
}  
/* Logo */
.logo {
    color:#000000; 
    font-family: Raleway, cursive ;
    font-size: 26px;
    font-weight: 700;
    line-height: 1,19;
    letter-spacing: 0.03em;
    text-align: left;
    text-decoration: none;
}
.logo .accent{
    color:var(--accent-color) ;
}

/* Site nav */

.site-nav .link {
    color: var( --title-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1,14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.site-nav .link:hover , 
.site-nav .link:focus{
    color: var(--accent-color);
}
.site-nav .link-current {
    color: var(--accent-color);
}