/* цвет шапки #212121; */

/* цвет контактов #757575 */

/* цвет героя #FFFFFF */

/*  цвет заголовков #212121 */

/*  цвет текста #757575 */

/* Футер адрес #FFFFFF */

/* Футер контакты rgba(255, 255, 255, 0.6) */

/* цвет фона  #FFFFFF */

/* цвет фона заголовка #2F303A */

/* вторичный цвет фона #F5F4FA */

/* цвет футера #2F303A */
.list{
    list-style: none;  
 }
/* Contact */
.contact{
    color: var( --primary-text-color) ;
}
.contact:hover,
.contact:focus{
    color:var(--accent-color);
}
/* Hero */
.hero-title{
    background-color: #2F303A ;
    color: #FFFFFF ;
}
/* Section */
.section-title{
    color:var( --title-text-color) ;
}
/* Principles */
.principles .titile{
    color:var( --primary-text-color) ;
}
/* Team */
.team .title{
    color:--title-text-color ;
}
/* Button */
.button {
    background-color:var(--accent-color);
    color:var(--primary-white-color) ;
}




