/* цвет шапки #212121; */

/* цвет контактов #757575 */

/* цвет героя #FFFFFF */

/*  цвет заголовков #212121 */

/*  цвет текста #757575 */

/* Футер адрес #FFFFFF */

/* Футер контакты rgba(255, 255, 255, 0.6) */

/* цвет фона  #FFFFFF */

/* цвет фона заголовка #2F303A */

/* вторичный цвет фона #F5F4FA */

/* цвет футера #2F303A */
/* Стили для Студия */
.list {
    list-style: none;  
 }
/* Contact */
.contact {
    color: var( --primary-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.contact:hover,
.contact:focus {
    color:var(--accent-color);
}
/* Hero */
.hero-title {
    background-color: #2F303A ;
    color: #FFFFFF ;

    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
}
/* Section */
.section-title {
    color:var( --title-text-color) ;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}
/* Principles */
.principles .titile {
    color:var( --primary-text-color) ;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.principles .text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
/* Team */
.team .title {
    color:var(--title-text-color) ;
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}
.team .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}
/* Button */
.button {
    background-color:var(--accent-color);
    color:var(--primary-white-color) ;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

/* Стили для Портофолио" */
.style-filter {
    background-color: #F5F4FA;
    color:var( --title-text-color) ;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
}
.style-filter:hover,
.style-filter:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}
/* Examples */
.examples .title {
    color:var(--title-text-color) ;

    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}
.examples .text {
    color:var(--primary-text-color) ;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}